/* CSS Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {display: flex;
display: flex;
gap: 1rem;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
align-items: stretch;
align-content: stretch;
flex-shrink: 1;
}