$primary-color: black;
$secondary-color: gray;
$border-color: blue;
$mark-color: orange;
$menu-color: purple;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin center{
    display: flex;
    align-items: center;
    justify-content: center;

}

.home {
    background-image: url(../IMG/platter-2009590_1280.jpg);
    text-align: center;
    overflow: hidden;
    padding-top: 10px;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    .last-name{
        color:$mark-color;
    }
}

footer .social-icons{
    height: 50px;
}

.fa{
    padding:20px;
    font-size: 2rem;
    width:20px;
    height: 20px;
    }
.fa-facebook{
    background-color: darkblue;
    color: white
}   
.fa-twitter{
    background-color: lightblue;
    color: white
}
.fa-google{
    background-color: green;
    color: white
}
.fa-linkedin{
    background-color:blue ;
    color:white
}
a{
    text-decoration: none;
}
.header{
    position: sticky;
}

.menu{
    display:flex;
    list-style: none;
    align-items: start;
    justify-content: space-evenly;
}
.menu-nav_items a{
    font-size: 1.5rem;
    color:$primary-color;
}
.menu-nav_items a:hover{
    color:$secondary-color;
}