$textcolor: rgb(127, 254, 0);
$size: 2rem;
$primary-color:red;
$second-color:blue;
$font-weights: (
    "regular":400,
    "medium": 500,
    "bold": 700 
);
$mycolor:(
"medium" purple,
"soft" yellow, 
"strong" green);
$strongcolor:(red);
$accent:(darkgreen);
$normalsize:2rem;